<h3>{{ _('External Sensor Manager settings') }}</h3>

<table class="table table-striped table-hover table-condensed table-hover">
    <thead>
        <tr>
            <th class="settings_ext_sensor_mgr_checkbox"></th>
            <th>{{ _('Type') }}</th>
            <th>{{ _('Name') }}</th>
            <th class="settings_ext_sensor_mgr_actions">{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: sensorList">
        <tr data-bind="click: function() { $root.onSelectSensor($data) }, clickBubble: false">
            <td class="settings_ext_sensor_mgr_checkbox">
                <input type="checkbox" enabled="false" data-bind="checked: $root.isSelectedSensorCb($data)" />
            </td>
            <td>
                <select name="sensor"
                    data-bind="options: $root.supportedSensorList, optionsText: 'name', optionsValue: 'value', value: sensorType, event: { change: function() { return $root.onSensorTypeChange($data)}}">
                </select>
            </td>
            <td>
                <input type="text" data-bind="value: config.name.value" />
            </td>
            <td class="settings_ext_sensor_mgr_actions">
                <a title="{{ _('Toggle')|edq }}"
                    data-bind="css: $root.toggleSensorButtonCss($data), click: function() { $root.toggleSensor($data) }"></a>
                <a title="{{ _('Remove')|edq }}" class="btn btn-danger"
                    data-bind="click: function() { $root.removeSensor($data) }"><i class="icon-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <button class="btn btn-block" data-bind="click: function() { $root.addSensor() }"> {{ _('Add') }}</button>
    <button class="btn btn-block"
        data-bind="enable: $root.enableSensorCb(selectedSensor), click: function() { $root.mdfSensor() }"> {{
        _('Configure')
        }}</button>
</div>

<div class="advanced_options">
    <div><small><a href="#" class="muted"
                data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.advanced_options', container: '.hide' }"><i
                    class="fas fa-caret-right"></i> {{ _('Advanced options') }}</a></small></div>
    <div class="hide">
        <div class="control-group">
            <h3>{{ _('Setup') }}</h3>
            <div class="controls">
                <div class="input-append">
                    <label class="control-label">{{ _('Read frequency') }}
                        <input type="number" min="1" step="0.01" class="input-mini text-right"
                            data-bind="value: settingsVM.settings.plugins.ext_sensor_mgr.read_freq_s">
                        <span class="add-on">sec</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="control-group">
            <h3>{{ _('Development') }}</h3>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settingsVM.settings.plugins.ext_sensor_mgr.is_mock_test">
                    {{ _('Enable mock testing (sensors will use a fake implementation)') }}
                </label>
            </div>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"
                        data-bind="checked: settingsVM.settings.plugins.ext_sensor_mgr.enable_logging"> {{ _('Enable
                    debug logging') }}
                </label>
            </div>
        </div>
    </div>
</div>

<!-- ko ifnot: $root.disableSensorConfigCb(selectedSensor) -->
<div id="SensorManagerConfigure" data-bind="with: selectedSensor" class="modal hide fade-in">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Configuration') }}</h3>
    </div>

    <div class="modal-body" data-bind="foreach: $root.selectedSuppConfigGroupList">
        <form class="form-horizontal" onsubmit="return false;">
            <div data-bind="if: level == 1">
                <h4 data-bind="text: name"></h4>
                <div data-bind="foreach: $root.selectedSupportedConfigList">
                    <!-- ko if: group[0].name == $parent.name && group[0].level == $parent.level -->
                    <!-- ko if: type == $root.CONFIG_DATA_TYPE.Options -->
                    <div class="control-group"
                        data-bind="using: $root.matchingParamConfigCb($data, $parents[1].config)">
                        <label class="control-label" data-bind="text: label ?? param"></label>
                        <div class="controls">
                            <select
                                data-bind="value: value, options: value_list, optionsText: 'val', optionsValue: 'key', valueAllowUnset: true"></select>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: type == $root.CONFIG_DATA_TYPE.Text -->
                    <div class="control-group"
                        data-bind="using: $root.matchingParamConfigCb($data, $parents[1].config)">
                        <label class="control-label" data-bind="text: label ?? param"></label>
                        <div class="controls">
                            <input type="text" data-bind="value: value" />
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <button type="button" class="btn" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
    </div>
</div>
<!-- /ko -->